[class*='button-']  {
	background-size: cover;
}

[class*='button-']:hover {
	opacity: 0.5;
	/*
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
	*/
}

a [class*='button-'] .name {
	font-weight: normal;
}

.button-nav {
	position: relative;
	/*background-color: #c20150;*/
	margin-left: 20px;
	color: #f5b401;
}

.button-nav:hover, .button-nav.state-active {
	background-color: #f5b401;
	color: #c20150;
	opacity: 1.0;
	
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);		
}

.button-nav .name {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
}

.button-nav .name p {
	font-size: 1.5em;
	font-family: "Segoe Light", sans-serif;
	letter-spacing: 0.2em;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#logoicon {
	background-image: url("../img/logo.png");
	background-size: 100px 100px;
}