<div id="layoutselector" class="component">
    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Double Text</p>
    </div>
								
    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Full Text</p>
    </div>	

    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Double Picture</p>
    </div>	

    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Full Picture</p>
    </div>	
								
    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Text Picture</p>
    </div>	
								
    <div class="onecolx button-layout lastx">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Picture Text</p>
    </div>	    
</div>