<div id="toolbox" class="component">	
    <div class="halfcolx button-tool">
		<div class="fullcolx halfrowy color-yellow"></div>
		<p class="text-yellow">Save</p>
	</div>
	<div class="halfcolx button-tool">
		<div class="fullcolx halfrowy color-yellow"></div>
		<p class="text-yellow">Load</p>
	</div>
	<div class="halfcolx button-tool">
		<div class="fullcolx halfrowy color-yellow"></div>
		<p class="text-yellow">Insert</p>
	</div>	
	<div class="halfcolx button-tool">
		<div class="fullcolx halfrowy color-yellow"></div>
		<p class="text-yellow">Delete</p>
	</div>	
	<div class="halfcolx button-tool">
		<div class="fullcolx halfrowy color-yellow"></div>
		<p class="text-yellow">Scale</p>
	</div>				
	<div class="halfcolx button-tool lastx">
		<div class="fullcolx halfrowy color-yellow"></div>
		<p class="text-yellow">Move</p>
	</div>	
</div>