<div id="slideNavigation" class="component">
	<div class="onecolx button-slidenav">
		<div class="fullcolx onerowy color-yellow"></div>
		<p class="text-yellow">First</p>
	</div>
	<div class="onecolx button-slidenav">
		<div class="fullcolx onerowy color-yellow"></div>
		<p class="text-yellow">Previous</p>
	</div>	
	<div class="onecolx button-slidenav">
		<div class="fullcolx onerowy color-yellow"></div>
		<p class="text-yellow">Current</p>
	</div>	
	<div class="onecolx button-slidenav">
		<div class="fullcolx onerowy color-yellow"></div>
		<p class="text-yellow">Next</p>
	</div>		
	<div class="onecolx lastx button-slidenav">
		<div class="fullcolx onerowy color-yellow"></div>
		<p class="text-yellow">Last</p>
	</div>	
</div>