@{
    ViewBag.Title = "Presentation";
}

<div id="chat_Loader" class="fourcolx sixrowy lastx color-darkgray-a85 content loader">
	<h1 class="text-magenta">Chat</h1>
	<hr class="border-magenta"/>

    @Html.Action("_chat", "Shared")
</div>
