<div id="connect" class="threecolx component container">

    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Facebook</p>
    </div>

    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Microsoft</p>
    </div>

    <div class="onecolx lastx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Yahoo!</p>
    </div>

    <div class="onecolx button-layout">
	    <div class="fullcolx onerowy color-yellow"></div>
	    <p class="text-yellow">Google</p>
    </div>
</div>