@{
    ViewBag.Title = "About Us";
}

<div class="twelvecolx fiverowy lastx lasty frame">
    <div id="page-0" class="fullcolx fullrowy page">
        <div class="twelvecolx fiverowy pagewrapper">
             <div class="fullcolx fullrowy color-darkgray-a85 content loader">
   	            <h1 class="text-magenta">The Team</h1>
	            <hr class="border-magenta"/>
                <div class="ninecolx container">
                    <div id="main-team-pic" class="fourcolx threerowy">
                        <img src='../Content/img/team.png' alt='thundercats' />
                    </div>
                    <div class="fivecolx lastx">
                        <h3 class="team-description">
                            ViewSpark is the product of four young web developers at the
                            University of Washington combining their knowledge, experience
                            and efforts. For their heroic attempts to save students and 
                            professionals from giving dull, lackluster presentations, the
                            team has gained recognition as Thundercats Softworks. Click 
                            a box below to learn more about each team member.
                        </h3>
                    </div>
                </div>
            </div>         
        </div>
    </div> 
 
     <div id="page-1" class="fullcolx fullrowy page state-inactive">
        <div class="twelvecolx fiverowy pagewrapper">
             <div class="fullcolx fullrowy color-darkgray-a85 content loader">
   	            <h1 class="text-magenta">Piriya Saengsuwarn</h1>
	            <hr class="border-magenta"/>
                <div class="ninecolx container">
                    <div class="threecolx fourrowy team-pic">
                        <img src='../Content/img/piriya.png' alt='piriya' />
                    </div>
                    <div class="sixcolx lastx">
                        <h3 class="team-description">
                            Piriya is a junior Pre-major at the University of
                            Washington. Hailing from Bangkok, Thailand, Piriya
                            likes playing and watching tennis. His favorite movie
                            is Star Wars, and also enjoys drawing. In the near future,
                            Piriya wants to be a game developer.
                        </h3>
                    </div>
                </div>
            </div>                 
        </div>
    </div>

     <div id="page-2" class="fullcolx fullrowy page state-inactive">
        <div class="twelvecolx fiverowy pagewrapper">
             <div class="fullcolx fullrowy color-darkgray-a85 content loader">
   	            <h1 class="text-magenta">Ezra Park</h1>
	            <hr class="border-magenta"/>
                <div class="ninecolx container">
                    <div class="threecolx fourrowy team-pic">
                        <img src='../Content/img/ezra.png' alt='ezra' />
                    </div>
                    <div class="sixcolx lastx">
                        <h3 class="team-description">
                            Ezra is a senior Business Administration/Informatics major
                            at the University of Washington. Originally from Queens, New York,
                            Ezra enjoys sports, his favorite of which is basketball. In addition to
                            eating spaghetti and playing League of Legends, Ezra aspires to build
                            a Mobile User Interface Designer in the future.
                        </h3>
                    </div>
                </div>
            </div>                 
        </div>
    </div>

     <div id="page-3" class="fullcolx fullrowy page state-inactive">
        <div class="twelvecolx fiverowy pagewrapper">
             <div class="fullcolx fullrowy color-darkgray-a85 content loader">
   	            <h1 class="text-magenta">John Robinson</h1>
	            <hr class="border-magenta"/>
                <div class="ninecolx container">
                    <div class="threecolx fourrowy team-pic">
                        <img src='../Content/img/john.png' alt='john' />
                    </div>
                    <div class="sixcolx lastx">
                        <h3 class="team-description">
                            John is a senior majoring in both HCDE & Psychology at the
                            University of Washington. Also known as 'that guy from NASA',
                            John is from Kentucky. His favorite restaurant is Sutra in
                            Wallingford, and his favorite movie is Contact. In the future,
                            John wants to see the Northern Lights.
                        </h3>
                    </div>
                </div>
            </div>                 
        </div>
    </div>

     <div id="page-4" class="fullcolx fullrowy page state-inactive">
        <div class="twelvecolx fiverowy pagewrapper">
             <div class="fullcolx fullrowy color-darkgray-a85 content loader">
   	            <h1 class="text-magenta">Naveen Yadav</h1>
	            <hr class="border-magenta"/>
                <div class="ninecolx container">
                    <div class="threecolx fourrowy team-pic">
                        <img src='../Content/img/naveen.png' alt='naveen' />
                    </div>
                    <div class="sixcolx lastx">
                        <h3 class="team-description">
                            Naveen is a junior majoring in Informatics at the
                            University of Washington. His hometown is Bellevue, Washington,
                            and he enjoys watching and playing soccer. While not developing
                            websites, Naveen spends his time playing Skyrim and eating pizza.
                            Sometime after college, Naveen wants to join a small team of software
                            developers to start his career in technology.
                        </h3>
                    </div>
                </div>
            </div>                 
        </div>
    </div>

    <div class="content-bottom-nav-right">
 	    <div class="halfcolx button-content-bottom" onclick="jumpToPage(0);">
            <p class="text-magenta">Team</p>
		    <div class="fullcolx halfrowy lasty color-magenta m2icon-group"></div>
	    </div>
 	    <div class="halfcolx button-content-bottom" onclick="jumpToPage(1);">
            <p class="text-magenta">Piriya</p>
		    <div class="fullcolx halfrowy lasty color-magenta m2icon-admin"></div>
	    </div>
	    <div class="halfcolx button-content-bottom" onclick="jumpToPage(2);">
            <p class="text-magenta">Ezra</p>
		    <div class="fullcolx halfrowy lasty color-magenta m2icon-admin"></div>
	    </div>	
	    <div class="halfcolx button-content-bottom" onclick="jumpToPage(3);">
            <p class="text-magenta">John</p>
		    <div class="fullcolx halfrowy lasty color-magenta m2icon-admin"></div>
	    </div>	  
	    <div class="halfcolx button-content-bottom" onclick="jumpToPage(4);">
            <p class="text-magenta">Naveen</p>
		    <div class="fullcolx halfrowy lasty color-magenta m2icon-admin"></div>
	    </div>	               	   
    </div>    
</div>  
