@{
    ViewBag.Title = "Register";
}

<div id="registrationForm_Loader" class="sixcolx sevenrowy lasty color-darkgray-a85 content loader">
	<h1 class="text-magenta">Register</h1>
	<hr class="border-magenta"/>

    @Html.Action("_RegistrationForm")
</div>

<div id="connect_Loader" class="sixcolx sevenrowy lastx lasty color-darkgray-a85 content loader">
	<h1 class="text-magenta">Connect</h1>
	<hr class="border-magenta"/>

    @Html.Action("_Connect")
</div>



